@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background-color 0.2s, border 0.2s;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* NProgress */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #eb8258;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #eb8258, 0 0 5px #eb8258;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.dark #nprogress .bar {
  background: #fff;
}

.dark #nprogress .peg {
  box-shadow: 0 0 10px #fff, 0 0 5px #fff;
}

/* React Modal */

.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay {
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  inset: 0;
  margin: auto;
  position: fixed;
  width: 327px;
  height: 217px;
  border-radius: 6px;
  color: #19202d;
  transform: scale(0.9);
  transition: transform 200ms ease;
  background-color: #fff;
}

.dark .ReactModal__Content {
  background-color: #19202d;
  color: #fff;
}

.ReactModal__Content--after-open {
  transform: scale(1);
}

.ReactModal__Content--before-close {
  transform: scale(0.9);
}

@media (min-width: 768px) {
  .ReactModal__Content,
  .ReactModal__Overlay {
    display: none;
  }
}
